node_modules
nodemodules
.git
.gitignore
*.md
!HUONG_DAN_FLY.md
appstate.json
appstate_backup.json
config.json
key.txt
acc.json
.env
.env.*
*.sqlite
data.sqlite
modules/commands/cache/**
Horizon_Database
Niio-Limit-temp
.cursor
terminals
